body{
    font-family: 'Ubuntu', sans-serif;
    height: auto;
    background: linear-gradient(to top left,purple,blue,green,yellow,orange,rgb(255, 60, 0),red)fixed no-repeat;
}       
.done{
    color: green;
    text-decoration: line-through;
}   
.ass{
    height: auto;
    width: 600px;
    background-color: #050505;
    border-radius: 30px;
    margin-left: auto;
    margin-top: 8%;
    margin-bottom: auto;
    margin-right: auto;
    color: white;
    box-shadow: 18px 6px 54px -17px rgb(61, 206, 80);
    border: solid #ff8a03fd 7px;
}
#hhh{
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}                    
.tit{
    margin-left:25%;
    margin-top: 2%;
    font-size: 30px;
}                 
#in{
    width: 400px;
    font-size: 25px;
    margin-left: 18%;
    border-radius: 15px;
    padding: 10px 10px;
}     
input:focus{
    outline: none;
    background-color: rgba(0, 174, 255, 0.5);
    color: wheat;
    font-weight: 600;
    border: none;
}
ul{
    list-style: none;
    font-weight: 500;
}         
.ass:hover{
    transform: scale(1.1);
  }
